@import 'config';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'home';
@import 'responsive';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: $white-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.ant-layout {
  background: $white-color;
}

.main-layout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}
